<ul>
  <li><a  [routerLink]="['/dashboard']">Books</a></li>
  <li><a class="active" [routerLink]="['/tag']">Tags</a></li>
</ul>

<div class="container">
  <h1>
    Categories
  </h1>
    
    <button [routerLink]="['/tag/add']">Add</button>
    <br><br>
    
    <p>
      Search :
      <input type="text" id="myInput" placeholder="Search" [(ngModel)]="searchTag" >
      <button (click)="getTag()">Search</button>
    </p>
    
    <table border="1" style="width: 100%">
      <tr>
        <th>Id</th>
        <th>Picture</th>
        <th>Tag Name</th>
        <th>Tag Description</th>
        <th>Hex Color</th>
        <th>Edit</th>
      </tr>
      <tr *ngFor="let tag of tags">
        <td>{{tag.id}}</td>
        <td>{{tag.picture}}</td>
        <td>{{tag.tagName}}</td>
        <td>{{tag.tagDescription}}</td>
        <td>{{tag.tagHexColor}}</td>
        <td>
          <button [routerLink]="['/tag/update', tag.id]">Edit</button>
          <button [routerLink]="['/tag/delete', tag.id]">Delete</button>
        </td>
      </tr>
    </table>
  </div>