    <formGroup [formGroup]="fg">
    <div class="username">
        <label for="username">Username :</label>
        <input type="text" id="username" placeholder="Username"
        formControlName="username"
        [(ngModel)]="user.username">
    </div>

    <div *ngIf="username.invalid && (username.dirty || username.touched)">
        <div *ngIf="username.errors.required">
            Username is required.
        </div>
    </div> 

    <div class="password">
        <label for="password">Password:</label>
        <input type="password"  placeholder="Passsowrd"
        formControlName="password"
        [(ngModel)]="user.password">
    </div>

    <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <div *ngIf="password.errors.required">
            Password is required.
        </div>
    </div>

    <div *ngIf="showErrorMessage">
        Invalid username and password Please try again
    </div>

    <p>
        <button type="submit" value="submit" (click)="login()">Submit</button>
    </p>
</formGroup>