<!-- <div class="navbar">
    <a href="" class="active">HOME</a>
</div> -->

<!-- <div class="mainContentBorder">
    <img class="mainImgContent" src="https://i.ibb.co/YN0MQgp/mae-mu-6k7-W97g-WTv-Q-unsplash.jpg">
    <div class="mainTitleContent">
        This is the title
    </div>
    <div class="mainTextContent">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </div>
</div> -->

<img class="mainImgContent" src="https://i.ibb.co/CPHqgYY/brooke-lark-4-J059a-Ga5s4-unsplash.jpg">

<div class="foodStopMoto">
    Where you may find the food you want, love and adore at the right place.
</div>

<div class="wrapper">
    <div class="search_box">
        <div class="dropdown">
            <div class="default_option">Laguna</div>
        </div>
        <div class="search_field">
          <input type="text" class="input" placeholder="Search">
          <i class="fas fa-search"></i>
      </div>
    </div>
</div>

<div class="flex-container">
    <div class="discover-container">
        <img class="subMainContentFirstImage" src="https://i.ibb.co/YN0MQgp/mae-mu-6k7-W97g-WTv-Q-unsplash.jpg">
        <div class="subMainContentFirstTitle">Breakfast</div> 
    </div>

    <div class="discover-container">
        <img class="subMainContentFirstImage" src="https://i.ibb.co/pQ9wfKv/brooke-lark-Hl-Ncigv-Ui4-Q-unsplash.jpg">
        <div class="subMainContentFirstTitle">Lunch</div> 
    </div>

    <div class="discover-container">
        <img class="subMainContentFirstImage" src="https://i.ibb.co/fDyZyVG/brooke-lark-w-Mzx2n-Bdeng-unsplash.jpg">
        <div class="subMainContentFirstTitle">Dinner</div> 
    </div>

    <div class="discover-container">
        <img class="subMainContentFirstImage" src="https://i.ibb.co/SyL6f2n/ali-yahya-Qn9-DBu5-OFDA-unsplash.jpg">
        <div class="subMainContentFirstTitle">Coffee</div> 
    </div>

    <div class="discover-container">
        <img class="subMainContentFirstImage" src="https://i.ibb.co/HPP9tj9/Board-Games.jpg">
        <div class="subMainContentFirstTitle">Hangout</div> 
    </div>

    <div class="discover-container">
        <img class="subMainContentFirstImage" src="https://images.unsplash.com/photo-1553659971-f01207815844?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80">
        <div class="subMainContentFirstTitle">Seafoods</div> 
    </div>

    <div class="discover-container">
        <img class="subMainContentFirstImage" src="https://i.ibb.co/CMdDj6f/emile-mbunzama-c-Lpd-EA23-Z44-unsplash.jpg">
        <div class="subMainContentFirstTitle">Dessert</div> 
    </div>

    <div class="discover-container">
        <img class="subMainContentFirstImage" src="https://i.ibb.co/HPP9tj9/Board-Games.jpg">
        <div class="subMainContentFirstTitle">View More</div> 
    </div>
</div>