@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.navbar {
    overflow: hidden;
    background-color: #FFB784;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    /* width: 90%; */
}
  
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.active, .navbar a:hover {
    background: #FFB784;
    color: black;
}

.mainContentBorder {
    position: relative;
    top: 80px;
    left: 40px;
    width: 700px;
    height: 550px;
    padding: 10px;
    border: 3px solid gray;
    margin: 0;
}

.subMainContentSecond {
    position: absolute;
    top:380px;
    left: 800px;
    width: 700px;
    height: 250px;
    padding: 10px;
    border: 3px solid gray;
    margin: 0;
}

/* Start New */
* {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

.mainImgContent {
  position: absolute;
  width: 100%;
  height:400px;
}

.foodStopMoto {
  position: relative;
  text-align: center;
  font-size: 17px;
  top: 30px;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1.3; 
}

.seperator-title {
  position: relative;
  font-size: 28px;
  font-weight: 500;
  font-family: 'Dancing Script', cursive;
}

.discover-separator {
  padding: 450px 0px 0px 200px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px
}
  
.discover-container {
  position: relative;
  border-radius: 15px;
  top: 40px;
  width: 300px;
  height: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border: 3px solid gray;
}

.discover-img {
  border-radius: 15px;
  width: 100%;
  height: 170px;
}

.discover-title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-top: 20px;
  font-weight: 700;
  font-size: 24px;
} 

.trending-separator {
  padding: 70px 0px 0px 200px;
}

.trending-container {
  position: relative;
  border-radius: 15px;
  border: 3px solid gray;
  width: 66%;
  height: 300px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.img-trending {
  position: absolute;
  border-radius: 15px;
  width: 20%;
  height: 170px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 10px;
}

.text-trending-title {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  margin-left: 265px;
  margin-top: 20px;
  font-size: 28px;
  font-weight: 700;
}

.trending-rating {
  position: absolute;
  margin-left: 480px;
  margin-top: 20px;
}

.trending-tags {
  position: relative;
  border: 2px solid transparent;
  background: green;
  border-radius: 15px;
  margin-top: 50px;
  margin-left: 265px;
  margin-right: 90px;
  
}

.trending-tag-text {
  position: absolute;
  color: black;
  font-family: sans-serif;
  /* font-size: 24; */
  /* margin-left: 3px;
  margin-top: 3px; */
}

.trending-location {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-left: 265px;
  margin-top: 95px;
}

.trending-open {
  position: absolute;
  margin-top: 95px;
  margin-left: 900px;
  /* margin-top: 50px; */
}

.trending-second-container {
  margin-top: 120px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.trending-price {
  position: absolute;
  margin-left: 265px;
  /* margin-top: 120px; */
}

.trending-contactNumber {
  position: absolute;
  margin-left: 770px;
  /* margin-top: 10px; */
}

@media only screen and (max-width: 800px) {
  /* For tablets */

  .fontStyle {
    font-size: 12px;
  }

  .mainImgContent {
    height:200px;
  }

  .seperator-title {
    font-size: 15px;
  }

  .discover-separator{
    padding: 200px 0px 0px 50px;
  }

  .trending-separator {
    padding: 50px 0px 0px 50px;
  }

  .flex-container {
    margin-left: 10px;
    margin-right: 10px
  }

  .discover-container {
    width: 30%;
    top: 20px;
    height: 150px;
  }

  .discover-img {
    border-radius: 15px;
    width: 100%;
    height: 100px;
  }

  .discover-title {
    text-align: center;
    padding-top: 2px;
    font-size: 15px;
  }

  .trending-container {
    width: 90%;
    height: 150px;
  }

  .img-trending {
    border-radius: 15px;
    width: 20%;
    height: 100px;
  }

  .text-trending-title {
    margin-left: 155px;
    font-size: 15px;
  }

  .trending-rating {
    margin-top: 18px;
    margin-left:600px;
  }

  .trending-tags {
    margin-top: 45px;
    margin-left: 155px;
  }

}

@media only screen and (max-width: 500px) {
  /* Mobile Device */
  .foodStopMoto {
    font-size: 13px;
    color: black;
  }

  .discover-container {
    width: 45%;
    height: 150px;
    top: 20px;
  }

  .discover-img {
    border-radius: 15px;
  }

  .discover-title {
    text-align: center;
    padding-top: 2px;
    font-size: 15px;
  }
}
  
.wrapper{
  position: relative;
  top: 100px;
  /* margin: auto; */
  
  width: 0px;
  transform: translate(-50%,-50%);
}
  
.wrapper .search_box{
  margin: 0 auto;
  width: 600px;
  background: black;
  border-radius: 5px;
  height: 65px;
  display: flex;
  padding: 10px;
  box-shadow: 0 8px 6px -10px #b3c6ff;
  }
  
  .wrapper .search_box .dropdown{
    width: 150px;
    border-right: 2px solid #dde2f1;
    color: #9fa3b1;
    position: relative;
    cursor: pointer;
  }
  
  .wrapper .search_box .dropdown .default_option{
    text-transform: uppercase;
    padding: 13px 15px;
    font-size: 14px;
  }
  
  .wrapper .search_box .dropdown ul{
    position: absolute;
    top: 70px;
    left: -10px;
    background: #fff;
    width: 150px;
    border-radius: 5px;
    padding: 20px;
    display: none;
    box-shadow: 8px 8px 6px -10px #b3c6ff;
  }
  
  .wrapper .search_box .dropdown ul.active{
    display: block;
  }
  
  .wrapper .search_box .dropdown ul li{
    padding-bottom: 20px;
  }
  
  .wrapper .search_box .dropdown ul li:last-child{
    padding-bottom: 0;
  }
  
  .wrapper .search_box .dropdown ul li:hover{
    color: #6f768d;
  }
  
  .wrapper .search_box .dropdown:before{
    content: "";
    position: absolute;
    top: 18px;
    right: 20px;
    border: 8px solid;
    border-color: #5078ef transparent transparent transparent;
  }
  
  .wrapper .search_box .search_field{
    width: 418px;
    height: 100%;
    position: relative;
  }
  
  .wrapper .search_box .search_field .input{
    width: 100%;
    height: 100%;
    border: 0px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 38px;
    color: #6f768d;
  }
  
  .wrapper .search_box .search_field .fas{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    color: #5078ef;
    cursor: pointer;
  }
  
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #9fa3b1;
  }
  ::-moz-placeholder { /* Firefox 19+ */
   color: #9fa3b1;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #9fa3b1;
  }