<app-navbar></app-navbar>

<div class="container">
  <h1>
    Book Dashboard
  </h1>

  <button [routerLink]="['/add']">Add</button>
  <button (click)="logout()" [routerLink]="['/login']">Logout</button>
  <br><br>

  <p>
    Search :
    <input type="text" id="myInput" placeholder="Search for names.." [(ngModel)]="title" >
    <button (click)="getBook()">Search</button>
  </p>

  <table border="1" style="width: 100%">
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Rating</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let book of books">
      
      <td>{{book.id}}</td>
      <td [routerLink]="['/list', book.id]">{{book.title}}</td>
      <td>{{book.description}}</td>
      <td>{{book.rating}}</td>
      <td>
        <button [routerLink]="['/update', book.id]">Edit</button>
        <button [routerLink]="['/delete', book.id]">Delete</button>
      </td>
    </tr>
  </table>
</div>